@model Movie_App.Models.Categories

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>

<table class="table">
    <tr>
        <th>Category Name</th>
        <td>@Model.name</td>
    </tr>
</table>
<br />

@using (Html.BeginForm("Delete", "Category", FormMethod.Post))
{
    <input type="submit" value="Delete" />
    @Html.ActionLink("Back to List", "Index")
}
